#MainP {
  .cg-box {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.hide {
      opacity: 0;
    }
    &.in {
      animation: in 0.5s ease-in-out forwards;
    }
    &.out {
      animation: out 0.5s ease-in-out forwards;
    }
    img {
      background-color: transparent;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
