#MainP,
#HomeP {
  & > .Sound {
    position: absolute;
    top: 0;
    left: 100%;
    height: 0.4rem;
    width: 2rem;
    padding-left: 0.4rem;
    box-sizing: border-box;
    /* right: 0; */
    // transform: translateX(0%);
    // filter: opacity(1);
    transform: translateX(-100%);
    filter: opacity(1);
    border-radius: 0 0 0 0.1rem;
    line-height: 0.4rem;
    text-align: center;
    background-color: antiquewhite;
    background-image: linear-gradient(to right, rgb(167, 106, 225) 0%, rgb(167, 106, 225) 18%, antiquewhite 82%, antiquewhite 100%);
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    .hide {
    }
  }
}
